<div class="main-navbar">
    <div class="container">
        <a href="/"><div class="logo vindigo-nav-logo">Vindigo</div></a>
        <div class="nav-links nav-left">
            <a href="/devices">Devices</a>
            <a href="/drive" target="_self">Drive</a>
        </div>
    </div>
</div>

<h1>Device</h1>
<h3>{{ device.name }}</h3>
<h3>{{ device.id }}</h3>
<h3>{{ device.distance }}</h3>
<h3>{{ device.duration }}</h3>
<h3>{{ device.lat }}, {{ device.lng }}</h3>
<hr>
<h1>Trips</h1>
<div ng-repeat="trip in trips">
    <h3>{{ trip._id }}</h3>
    <h3>{{ trip.distance }}</h3>
    <h3>{{ trip.duration }}</h3>
</div>
