<div class="main-navbar">
    <div class="container">
        <a href="/"><div class="logo vindigo-nav-logo">Vindigo</div></a>
        <div class="nav-links nav-left">
            <a href="/devices">Devices</a>
            <a href="/drive" target="_self">Drive</a>
        </div>
    </div>
</div>

<div class="container main-container">
    <h1>Device</h1>
    <hr>
    <h3>{{ device.name }}</h3>
    <h3>{{ device._id }}</h3>
    <h3>{{ device.distance }}</h3>
    <h3>{{ device.duration }}</h3>
    <h3>{{ device.lat }}, {{ device.lng }}</h3>

    <h1 style="margin-top: 40px">Trips</h1>
    <h3 ng-show="trips.length === 0">No Trips on this Device</h3>
    <hr>

    <div ng-repeat="trip in trips">
        <img ng-src="{{ trip.static_url }}" style="border: 1px solid #ccc; float: left">
        <div style="float: left; margin-left: 35px; margin-top: 20px">
            <h3>Trip ID: {{ trip._id }}</h3>
            <h3>Distance: {{ trip.distance }} m</h3>
            <h3>Duration: {{ trip.duration }} s</h3>
            <h3>Start: {{ trip.start_lat }}, {{ trip.start_lng }}</h3>
            <h3>End: {{ trip.end_lat }}, {{ trip.end_lng }}</h3>
            <a ng-href="/trips/{{trip._id}}"><button class="main-btn" style="margin-top: 20px">View Detail</button></a>
        </div>
        <div class="clearfix"></div>
        <hr>
    </div>
</div>
