<div id="sidePanel" class="side-panel">
    <div class="panel-header">
        <a href="/"><h1 class="logo">Vindigo</h1></a>
    </div>
    <div class="trip-form-container" ng-show="!tripStarted">
        <form>
            <select ng-model="selectedDevice" ng-options="device.name for device in devices">
                <option value="" disabled>Select a device</option>
            </select>
            <input type="text" placeholder="Start" ng-model="tripForm.start"></input>
            <input type="text" placeholder="End" ng-model="tripForm.end"></input>
            <button type="submit" class="main-btn" ng-click="startTrip()">Start Trip</button>
        </form>

        <!-- Modal form -->
        <div ng-controller="modalCtrl">
            <button class="main-btn" ng-click="open()">+ Create Geofence</button>
        </div>
    </div>
    <div class="trip-stats" ng-show="tripStarted">
        <div class="trip-distance">
            <h1>Distance</h1>
            <h2>{{ tripDistance }} m</h2>
        </div>
        <div class="trip-duration">
            <h1>Duration</h1>
            <h2>{{ tripDuration }} s</h2>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="trip-events">
        <div ng-repeat="event in tripEvents">
            <div class="event-card">
                <h1>{{ event.title }}</h1>
                <p>{{ event.message }}</p>
            </div>
        </div>
    </div>
</div>

<div id="map" keep-in-view></div>

<script>
$(document).ready(function() {
    var side = $('#sidePanel');
    // If we have enough room to display the entire panel after resizing
    // window, then scroll to top of window.
    $(window).resize(function() {
        if (side.height() <= $(window).height()) {
            $(window).scrollTop(0);
        }
    });
});
</script>
