body {
    font-family: "Source Sans Pro", sans-serif;
}

input[type=text] {
    height: 45px;
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 0;
    margin: 0;
    padding: 0;
    outline: 0;
    padding-left: 10px;
}

input[type=text]:focus {
    border: 1px solid #1997C6;
}

select {
    width: 100%;
    border: 1px solid #ccc;
    font-size: 16px;
    height: 40px;
    margin-bottom: 20px;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h4 {
    margin: 5px;
    font-size: 15px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none !important;
}

/* Map Style */
#map {
    float: right;
    border-left: 1px solid #d9d9d9;
    height: 100vh;
    width: 75%;
}

/* General Styles */
.logo {
    letter-spacing: 2px;
    color: #333;
    text-transform: uppercase !important;
}

.main-container {
    padding-top: 60px;
}

.main-btn {
    font-size: 14px;
    color: #333;
    background: #fff;
    height: 45px;
    width: 135px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.main-btn:focus {
    color: #000;
    background: #fff;
    outline: 0;
}

.main-btn:hover {
    background: #eeeeee;
}

/* Devices Styles */
.devices-container {
    padding-top: 40px;
    padding-bottom: 60px;
}

.device-box {
    float: left;
    width: 31%;
    padding: 30px;
    padding-top: 35px;
    padding-bottom: 50px;
    border: 1px solid #ccc;
    margin: 1%;
}

.device-stats {
    padding-top: 15px;
    padding-bottom: 50px;
}

.reset-device-btn {

}

.delete-device-btn {

}

.create-device-form {
    margin-left: 10px;
}

/* Navbar Style */
.main-navbar {
    height: 70px;
    background: #f6f6f6;
    border-style: solid;
    border-color: #ccc;
    border-width: 0 0 1px 0;
}

.vindigo-nav-logo {
    font-size: 24px;
    line-height: 70px;
    float: left;
    margin-right: 10px;
}

.nav-links {
    line-height: 70px;
}

.nav-left {
    float: left;
    margin-left: 18px;
}

.nav-links a {
    text-transform: uppercase;
    color: #333;
    font-size: 14px;
    margin-right: 18px;
}

/* Side Panel Style */
.side-panel {
    float: left;
    width: 25%;
}

.side-panel input {
    display: block;
    width: 100%;
}

.panel-header {
    height: 70px;
    background: #f6f6f6;
    border-bottom: 1px solid #ccc;
}

.panel-header h1 {
    line-height: 70px;
    font-size: 24px;
    text-align: center;
}

.trip-form-container {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.trip-form-container button {
    width: 100%;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 20px;
}

.trip-form-container input {
    margin-bottom: 20px;
}

.geofence-modal {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.geofence-modal h1 {
    color: #5B5B5B;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 25px;
}

.geofence-modal button {
    margin-left: 15px;
}

.geofence-modal input {
    width: 100%;
    margin-bottom: 20px;
    height: 50px;
    font-size: 16px;
}

.geofence-btn-group {
    float: right;
    margin-top: 15px;
}

.trip-events {
}

.event-card {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #d9d9d9;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 1px;
}
.event-card h1 {
    font-size: 18px;
    margin-bottom: 8px;
}

.trip-stats {

}

.trip-stats h1 {
    color: #4d4d4d;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}

.trip-stats h2 {
    color: #333;
    text-align: center;
}

.trip-distance {
    float: left;
    width: 50%;
    border-right: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}

.trip-duration {
    float: right;
    width: 50%;
    border-left: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
}
